.CardInfo {
  position: relative;
  border-radius: 55px;
  overflow: hidden;
  background-color: grey;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.CardInfo:hover {
  transform: translateY(-5px);
}